.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
}


.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.clerk-signin-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}




   



/* Clerk component styling */
.clerk-card {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.clerk-title {
    display: none !important;
}

.clerk-input {
    width: 100% !important;
    padding: 10px !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    font-size: 1rem !important;
}