body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #333;
}
div {
    background-color: #ffffff;
    padding: 40px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
}
h1 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.5rem;
    color: darkcyan;
    margin-top: 30px;

}
p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin: 20px 0;
    max-height: 400px;
}
